input.input-underline {
    border: none;
    border-bottom: 1px solid;
    border-radius: unset;
}

input.input-underline:focus {
    border-radius: 2px;
}

input.input-bill-underline-dashed {
    border: none;
    border-bottom: 1px dashed;
    border-radius: unset;
}

input.input-bill-underline-dashed[readonly]:focus {
    outline: none;
}

.login-background {
    /*background-image: url("../image/company/tayyentu_login.jpg");*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
}

input.input-border-0 {
    border: none;
}

.input-bill {
    font-size: large;
    font-weight: bold;
}
